.all{
  width: 1100px;
  margin:0 auto;
  .title{
    text-align: center;
    font-size:16px;
  }
  .container{
    display: block;
    width:90vw;
    margin: 0 auto;
    text-align: center;
  }
  .label{
    margin:0 12px;
  }
}