.all{
    width: 100%;
    margin:0 auto;
    background: #fff;
    min-height: 600px;
    .title{
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      padding: 10px 0;
    }
    .messages{
      text-align: initial;
      width:85%;
      margin:140px auto 40px;
      padding-bottom:40px;
      .comments{
        & .comment{
          vertical-align: middle;
          margin:10px 0;
        }
      }
      .sendComment{
        img{
          vertical-align: inherit;
        }
        & textarea{
          font-size: 14px;
          display: inline-block;
          border-radius: 4px;
          width:65%;
          height: 80px;
        }
      }
    }
    .label{
      margin:0 12px;
    }
  }
::ng-deep .ql-size-large {
    font-size: 1.5em;
}
::ng-deep .ql-size-huge {
  font-size: 2.5em;
}
::ng-deep pre.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
}
::ng-deep h1 {
  font-size: 2em;
}
::ng-deep h2 {
  font-size: 1.5em;
}
::ng-deep .ql-align-right {
  text-align: right;
}
::ng-deep .ql-align-left {
  text-align: left;
}
::ng-deep .ql-align-center {
  text-align: center;
}
::ng-deep a {
  text-decoration: underline;
}