.all {
  text-align: center;
  font-family: 'Microsoft YaHei';
  header {
    .header-top {
      & .background{
        background-image: url('../../../assets/images/banner/1.webp');
        background-size: 100% 100%;
        height: 400px;
      }
      h3 {
        color: #fff;
      }
    }
    .header-bottom {
      // overflow: hidden;
      font-size: 20px;
      ul {
        line-height: 40px;
        height: 54px;
        overflow: hidden;
        margin-bottom: 0;
        margin-left: 0 !important;
        text-align: left;
        li {
          font-size: 16px;
          height:54px;
          position: relative;
          display: inline-block;
          list-style: none;
          padding: 6px 14px;
          border-bottom: 2px solid transparent;
          &:first-child{
            margin-left: 15.1%;
          }
          &:not(:last-child):hover {
            border-bottom: 2px solid #364d79;
            color: #364d79;
            cursor: pointer;
          }
        }
      }
    }
  }
  .main{
      background-color: #eee;
      .rightContent{
          background-color:#fff;
      }
  }
}
::ng-deep [nz-carousel-content] {
  height: 160px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}
::ng-deep nz-list-item {
  padding: 0 !important;
  overflow: hidden;
}
::ng-deep nz-list-item:hover,
[nz-list-item]:visited {
  background-color: #eee;
}
button {
  margin: 12px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-size: 12px;
  color:#999;
  font-family: 'Microsoft YaHei';
  text-indent: 6px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 12px;
  color:#999;
  font-family: 'Microsoft YaHei';
  text-indent: 6px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 12px;
  color:#999;
  font-family: 'Microsoft YaHei';
  text-indent: 6px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 12px;
  color:#999;
  font-family: 'Microsoft YaHei';
  text-indent: 6px;
}
@media screen and(min-width:601px){
  .mobile{
    display: none !important;
  }
}
/**移动端样式***/
@media screen and(max-width:600px) {
  ::ng-deep .ant-row.ant-form-item{
    margin:0 0 12px !important;
  }
  .all .main .rightContent{
    display: none !important;
  }
  .all header .header-top .background{
   height: 50vw !important;
 }
 .all header .header-bottom .ul{
   overflow:hidden;
   position: absolute;
   top:-120vw;
   z-index: 999;
   height: auto;
   margin:0;
   padding: 0;
   & li {
     background: rgba(96, 96, 96, 0.3);
     display: block;
     text-align: center;
     margin:0 !important;
     padding: 0;
     width: 100vw;
     height: 7.1428571429vw;
     line-height: 7.1428571429vw;
     color: #fff; 
     border: 0 !important;
     &:hover,&:active{
       background: rgba(0, 0, 0, 0.5);
       color: #fff !important;
     }
     
   }
   & li:last-child{
     display: none;
   }
 }
}
@keyframes slideDown{
from {top:-100vw;}
to {top:-50vw;}
}
@keyframes slideUp{
  from {top:-50vw;}
  to {top:-100vw;}
  }
  .slideDown{
    animation:slideDown  1s ease-out forwards !important;
  }
  .slideUp{
    animation:slideUp  1s ease-out forwards !important;
  }
  ::ng-deep .hide{
    height:0 !important;
  }