<div class="all">
  <header>
    <div class="header-top">
      <nz-carousel nzAutoPlay style="height: 160px;">
        <div nz-carousel-content *ngFor="let index of array">
          <h3>{{index}}</h3>
        </div>
      </nz-carousel>
    </div>
    <div class="header-bottom">
      <ul>
        <li>nav 1</li>
        <li>nav 2</li>
        <li>nav 3</li>
      </ul>
    </div>
  </header>
  <div nz-row style="padding-top: 20px">
    <div nz-col [nzMd]="{ span:10,offset:4 }" style="padding: 10px 10px 20px 10px;border: 2px solid">
      <div>Main Content</div>
      <nz-list [nzDataSource]="data" [nzItemLayout]="'vertical'" [nzRenderItem]="item" [nzSize]="small" [nzPagination]="pagination">
        <ng-template #item let-item>
          <!-- <nz-list-item [nzExtra]="extra" style="height:60px;" (click)="handleClick(item)" style="cursor: pointer;height: 120px;border-radius: 4px ">
            <nz-list-item-meta [nzTitle]="nzTitle">
              <ng-template #nzTitle>
                <div style="text-align:left;margin-top: 12px">
                  <a href="#">{{item.title}}</a>
                </div>
              </ng-template>
            </nz-list-item-meta>
            <ng-template #extra>
              <div style="margin-right:100px">
                <div style="text-align:right">标签:</div>
                <div style="text-align: left">{{item.label}}</div>
              </div>
            </ng-template>
          </nz-list-item> -->
          <div class="item">
            
          </div>
        </ng-template>
        <ng-template #pagination>
          <nz-pagination [nzPageIndex]="1" [nzTotal]="pageNumber" (nzPageIndexChange)="loadData($event)"
            nzShowQuickJumper></nz-pagination>
        </ng-template>
      </nz-list>
    </div>
    <div nz-col [nzMd]="{ span:5,offset:1 }" style="padding: 10px 20px 10px 10px;border: 2px solid">
      <nz-tabset>
        <nz-tab [nzTitle]="loginTitle">
          <ng-template #loginTitle>
            <i nz-icon [type]="login.icon"></i>{{ login.name }}
          </ng-template>
          <div class="login">
            <form nz-form [formGroup]="validateLoginForm" class="login-form" (ngSubmit)="submitLoginForm(validateLoginForm.value)">
              <nz-form-item>
                <nz-form-control>
                  <nz-input-group [nzPrefix]="prefixEmail">
                    <input type="text" nz-input formControlName="email" placeholder="Email">
                  </nz-input-group>
                  <nz-form-explain *ngIf="validateLoginForm.get('email').dirty && validateLoginForm.get('email').errors">
                    Please input your email!
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <nz-input-group [nzPrefix]="prefixLock">
                    <input type="password" nz-input formControlName="password" placeholder="Password" autocomplete>
                  </nz-input-group>
                  <nz-form-explain *ngIf="validateLoginForm.get('password').dirty && validateLoginForm.get('password').errors">Please
                    input your Password!</nz-form-explain>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <label nz-checkbox formControlName="remember">
                    <span>Remember me</span>
                  </label>
                  <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
                  <button nz-button class="login-form-button" [nzType]="'primary'" style="float: right">Log
                    in</button>
                </nz-form-control>
              </nz-form-item>
            </form>
            <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
            <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
          </div>
        </nz-tab>
        <nz-tab [nzTitle]="regTitle">
          <ng-template #regTitle>
            <i nz-icon [type]="reg.icon"></i>{{ reg.name }}
          </ng-template>
          <div class="reg">
            <form nz-form [formGroup]="validateRegForm" (ngSubmit)="submitRegForm(validateRegForm.value)">
              <nz-form-item>
                <nz-form-control>
                  <nz-input-group [nzPrefix]="prefixEmail">
                    <input nz-input formControlName="email" placeholder="Email" (blur)="handleEmailChange($event.target.value)">
                  </nz-input-group>
                  <nz-form-explain *ngIf="validateRegForm.get('email').dirty && validateRegForm.get('email').errors">
                    The input is not valid E-mail!
                  </nz-form-explain>
                  <nz-form-extra *ngIf="this.status==1">
                    <div style="color:red">当前邮箱已注册!</div>
                  </nz-form-extra>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <nz-input-group [nzPrefix]="prefixUser">
                    <input type="text" nz-input formControlName="regUsername" placeholder="Username">
                  </nz-input-group>
                  <nz-form-explain *ngIf="validateRegForm.get('regUsername').dirty && validateRegForm.get('regUsername').errors">Please
                    input your username!</nz-form-explain>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <nz-input-group [nzPrefix]="prefixLock">
                    <input type="password" nz-input formControlName="regPassword" placeholder="Password">
                  </nz-input-group>
                  <nz-form-explain *ngIf="validateRegForm.get('regPassword').dirty && validateRegForm.get('regPassword').errors">Please
                    input your Password!</nz-form-explain>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <nz-input-group [nzPrefix]="prefixLock">
                    <input nz-input type="password" formControlName="checkPassword" placeholder="Check Password">
                  </nz-input-group>
                  <nz-form-explain *ngIf="validateRegForm.get('checkPassword').dirty && validateRegForm.get('checkPassword').errors">
                    <ng-container *ngIf="validateRegForm.get('checkPassword').hasError('required')">
                      Please confirm your password!
                    </ng-container>
                    <ng-container *ngIf="validateRegForm.get('checkPassword').hasError('confirm')">
                      Two passwords that you enter is inconsistent!
                    </ng-container>
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item nz-row style="margin-bottom:8px;">
                <nz-form-control [nzSpan]="14" [nzOffset]="10" style="text-align: center">
                  <button nz-button nzType="primary">Register</button>
                </nz-form-control>
              </nz-form-item>
            </form>
            <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
            <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
            <ng-template #prefixEmail><i nz-icon type="mail"></i></ng-template>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
</div>