<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
  <nz-form-item nz-row>
    <nz-form-label [nzSpan]="3" nzRequired>Title</nz-form-label>
    <nz-form-control [nzSpan]="14" nzHasFeedback>
      <input nz-input formControlName="title" nzPlaceHolder="title" >
      <nz-form-explain *ngIf="validateForm.get('title').dirty && validateForm.get('title').errors || validateForm.get('title').pending ">
        <ng-container *ngIf="validateForm.get('title').hasError('required')">
          Please input your article title!
        </ng-container>
        <ng-container *ngIf="validateForm.get('title').hasError('duplicated')">
          Your title is redundant!
        </ng-container>
        <ng-container *ngIf="validateForm.get('title').pending">
          Validating...
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired>Label</nz-form-label>
    <nz-form-control [nzSpan]="14" >
        <nz-select formControlName="label" [nzMaxMultipleCount]="3" style="width: 100%" nzMode="multiple" nzPlaceHolder="Please select" [(ngModel)]="listOfSelectedValue">
            <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
        </nz-select>
    </nz-form-control>
  </nz-form-item>
    <div class="clearfix">
        <!-- <nz-upload
          nzAction="https://jsonplaceholder.typicode.com/posts/"
          nzListType="picture-card"
          [(nzFileList)]="fileList"
          [nzShowButton]="fileList.length<1"
          [nzPreview]="handlePreview">
            <i nz-icon type="plus"></i>
            <div class="ant-upload-text">Upload</div>
        </nz-upload> -->
        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
          </ng-template>
        </nz-modal>
      </div>
  <nz-form-item class="clearfix">
    <nz-form-label [nzSpan]="3" nzRequired>Cotent</nz-form-label>
    <nz-form-control [nzSpan]="18">
      <quill-editor [modules]="config" style="height: 600px"  formControlName="content"></quill-editor>
      <nz-form-explain *ngIf="validateForm.get('content').dirty&&validateForm.get('content').hasError('required')">请输入内容。</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-control [nzOffset]="3" [nzSpan]="10" style="text-align: right">
      <button nz-button (click)="resetForm($event)">Reset</button>
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
    </nz-form-control>
  </nz-form-item>
</form>
  