.item{
  background-color: #fff;
  &:hover{
    border-radius: 4px;
    box-shadow: 1px 3px 9px #ccc;
    transition: .3s;
  }
  img{
    margin:0 12px;
  }
  .like,.dislike{
    margin:0 10px;
    cursor: pointer;
    font-size: 16px;
  }
}
::ng-deep nz-list-item {
  padding: 0 !important;
  overflow: hidden;
}
::ng-deep nz-list-item:hover,
[nz-list-item]:visited {
  background-color: #eee;
}
button {
  margin: 12px;
}
